In [ ]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import sys
import gc
from tqdm import tqdm

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import files
test = '/content/drive/MyDrive/tobigs14_conference/data/v_2/test_all_meta_v2.json'
test_all_meta = pd.read_json(test)

In [ ]:
train = '/content/drive/MyDrive/tobigs14_conference/data/v_2/train_all_meta_v2.json'
train_all_meta = pd.read_json(train)

In [ ]:
test_all_meta['wine_id'].unique()

array([1214547, 1099253, 1684223, ...,   13400, 1581262, 1981888])

In [ ]:
RAW_v2 = '/content/drive/MyDrive/tobigs14_conference/data/v_2/RAW_v2_201130.json'
RAW_v2 = pd.read_json(RAW_v2)

In [ ]:
RAW = '/content/drive/MyDrive/tobigs14_conference/data/v_2/user_train.json'
RAW = pd.read_json(RAW)

In [ ]:
RAW_v2.drop(['index'], axis=1, inplace=True)

In [ ]:
df2 = pd.DataFrame(columns=[list(RAW_v2.columns)])
df2

Empty DataFrame
Columns: [(user_note,), (rating_per_user,), (vintage_id,), (user_like_count,), (userID,), (wine_id,), (wine_name,), (url,)]
Index: []

### user train set test set 만들기(최신순으로)

In [ ]:
RAW_v2['userID'].unique()

array([19484511,   352674,  2148498, ...,  4415304,  4736522, 16607503])

In [ ]:
user_test = pd.DataFrame(RAW_v2[RAW_v2['userID']==19484511].iloc[[0]])
for i in RAW_v2['userID'].unique()[1:]:
    user_test=pd.concat([user_test, pd.DataFrame(RAW_v2[RAW_v2['userID']==i].iloc[[0]])])

In [ ]:
user_test

                                                user_note  ...                                                url
0                                            Soooo good 💕  ...  /taittinger-prestige-rose-brut-champagne/w/114...
1       Belíssimo champanhe rose, bem seco mais com mu...  ...  /taittinger-prestige-rose-brut-champagne/w/114...
2                    Caramel, cherry, woody and oxidized.  ...  /taittinger-prestige-rose-brut-champagne/w/114...
3         Fine example of a great basic NV. Lovely stuff!  ...  /taittinger-prestige-rose-brut-champagne/w/114...
4                                                          ...  /taittinger-prestige-rose-brut-champagne/w/114...
...                                                   ...  ...                                                ...
939795  Con toque a frutos negros sobre todo a ciruela...  ...  /grgich-hills-cabernet-sauvignon/w/5105?year=2014
940171                                                     ...  /marques-de-riscal-rioja-gran-reserva/w/113598...
940752                                          明らかにお値段以上  ...      /trapiche-oak-cask-malbec/w/1135810?year=2019
941644                                                     ...  /farnese-edizione-cinque-autoctoni/w/21646?yea...
943606                                                     ...  /robert-mondavi-reserve-cabernet-sauvignon/w/2...

[6343 rows x 8 columns]

In [ ]:
user_test.to_json('user_test.json')
!ls
from google.colab import files
files.download('user_test.json')

drive  sample_data  user_test.csv  user_test.json

In [ ]:
user_test.to_csv('user_test.csv')
!ls
from google.colab import files
files.download('user_test.csv')

drive  sample_data  user_test.csv

## usertrain

In [ ]:
user_train = pd.DataFrame(RAW_v2[RAW_v2['userID']==19484511].iloc[1:])
for i in RAW_v2['userID'].unique()[1:]:
    user_train=pd.concat([user_train, pd.DataFrame(RAW_v2[RAW_v2['userID']==i].iloc[1:])])

In [ ]:
user_train

                               user_note  ...                                                url
37                                        ...  /badenhorst-family-wines-secateurs-red-blend-s...
43                                        ...  /mullineux-kloof-street-swartland-rouge/w/1253...
45               Beautiful golden nectar  ...          /stables-late-harvest/w/1123441?year=2018
46                                        ...              /ruffino-prosecco/w/1157656?year=2017
50          Bright clean and refreshing   ...   /la-gioiosa-prosecco-treviso/w/1134756?year=N.V.
...                                  ...  ...                                                ...
943787                           Pas mal  ...  /casillero-del-diablo-sauvignon-blanc-reserva-...
943788  Dry. Might do better with food.   ...  /chateau-st-jean-cabernet-sauvignon-california...
943789                                    ...             /fat-bastard-syrah/w/2364090?year=2013
943790                           Pas mal  ...   /starborough-sauvignon-blanc/w/1679387?year=2015
943791                                    ...         /mohua-sauvignon-blanc/w/1838367?year=2014

[937756 rows x 8 columns]

In [ ]:
user_train.reset_index(inplace=True , drop=True)

In [ ]:
user_train.drop(['index'], axis=1, inplace=True)

In [ ]:
user_train

                               user_note  ...                                                url
0                                         ...  /badenhorst-family-wines-secateurs-red-blend-s...
1                                         ...  /mullineux-kloof-street-swartland-rouge/w/1253...
2                Beautiful golden nectar  ...          /stables-late-harvest/w/1123441?year=2018
3                                         ...              /ruffino-prosecco/w/1157656?year=2017
4           Bright clean and refreshing   ...   /la-gioiosa-prosecco-treviso/w/1134756?year=N.V.
...                                  ...  ...                                                ...
937751                           Pas mal  ...  /casillero-del-diablo-sauvignon-blanc-reserva-...
937752  Dry. Might do better with food.   ...  /chateau-st-jean-cabernet-sauvignon-california...
937753                                    ...             /fat-bastard-syrah/w/2364090?year=2013
937754                           Pas mal  ...   /starborough-sauvignon-blanc/w/1679387?year=2015
937755                                    ...         /mohua-sauvignon-blanc/w/1838367?year=2014

[937756 rows x 8 columns]

In [ ]:
user_train.to_csv('user_train.csv')
!ls
from google.colab import files
files.download('user_train.csv')

drive	     user_test.csv   user_train.csv
sample_data  user_test.json  user_train.json

In [ ]:
user_train.to_json('user_train.json')
!ls
from google.colab import files
files.download('user_train.json')

drive	     user_test.csv   user_train.csv
sample_data  user_test.json  user_train.json

In [ ]:
wine_meta = '/content/drive/MyDrive/tobigs14_conference/data/v_2/Wine_Meta_v1_201129.json'
wine_meta = pd.read_json(wine_meta)

In [ ]:
wine_meta

                                    name  ...  winery_wines_count
0                1882 Cabernet Sauvignon  ...                62.0
1                 Les Bessards Hermitage  ...                57.0
2                 Patriarch Estate Grown  ...                21.0
3                                 Merlot  ...                19.0
4             Cabernet Sauvignon F Block  ...                18.0
...                                  ...  ...                 ...
50855           Garganega - Pinot Grigio  ...               517.0
50856             Dadà Langhe Chardonnay  ...                13.0
50857     Metodo Zero Prosecco Extra Dry  ...                49.0
50858          Les Monts Damnés Sancerre  ...                10.0
50859  Gran Paso a Paso Doble Monastrell  ...                61.0

[50860 rows x 29 columns]

- 변수 정리
index : raw기준 index <br>
user_note : 리뷰내용 <br>
rating_per_user : 리뷰평점 <br>
vintage_id : 빈티지 id <br>
user_like_count : 다른 사용자의 좋아요 수 <br>
user_id : 유저 ID <br>
wine_id : 와인 Id <br>
wine_name : 와인 이름(년도 포함) <br>
url : 와인 주소 <br>
like : 1=like, 0=dislike <br>
name : 와인 이름 <br>
rating_count : 평점 수 <br>
rating_average : 평점 평균 <br>
rating_distribution : 평점 분포 ({1': 30, '2': 50 ..}) <br>
label_count : 와인 생산 수 <br>
review_count : 리뷰 수 <br>
type_id : 와인 타입 ID (1: 레드와인) <br>
body : 바디 지수 <br>
acidity : 산도 지수 <br>
alcohol : 알코올 지수 <br>
food : 어울리는 음식 리스트<br>
grapes : 포도 리스트 <br>
grapes_id : 포도 ID 리스트 <br>
grapes_count : 포도별 와인 Count <br>
grape_composition : 포도 조합 비중 <br>
rank : 랭크<br>
region_id : 지역 ID <br>
region_name : 지역 이름 <br>
country_code : 지역 코드 <br>
country_most_used_grapes_id : 국가 내 가장 많이 쓴 포도 품종 ID <br>
country_most_used_grapes_name : 국가 내 가장 많이 쓴 포도 품종 이름 <br>
country_most_used_grapes_wines_count : 국가 내 가장 많이 쓴 포도 품종 와인 갯수 <br>
winery_id : 와이너리 ID(양조장) <br> 
winery_name : 와이너리 이름 <br>
winery_ratings_count : 와이너리 평가 수<br>
winery_ratings_average : 와이너리 평가 평균 <br>
winery_labels_count : 와이너리 생산 와인 수<br>
winery_wines_count : 와이너리 생산 와인종류 수 <br>
user_follower_count : 해당 유저의 팔로워 수<br>
user_following_count : 해당 유저의 팔로잉 수<br>
user_rating_count : 해당 유저의 평가 수<br>
user_rating_sum : 해당 유저의 평가 합<br>
reviews_count : 해당 유저의 리뷰 수<br>

# wine_profile 만들기 (wine_id, vintage_id, winenery_id, type_id, body, acidity, alcohol, winery_ratings_count)
winery를 넣은 이유: 같은 양조장에서 만들면 와인이 비슷할 것이고, <br> 와이너리의 평가가 높을 수록 유명한 와인이 많을 수 있기 때문

# wine_test token화 (one_hot_encoding 사용)

In [ ]:
train_all_meta['food'][763382]

['Pasta', 'Shellfish', 'Vegetarian', 'Appetizers and snacks', 'Lean fish']

In [ ]:
train_all_meta.head()

   index  ... reviews_count
0      0  ...           323
1      1  ...           297
2      4  ...           170
3      5  ...           392
4      6  ...           394

[5 rows x 43 columns]

In [ ]:
train_all_meta['grapes_id'].values

array([list([5, 14, 110]), list([5, 14, 110]), list([5, 14, 110]), ...,
       list([5]), list([2]), list([2])], dtype=object)

In [ ]:
train_all_meta[train_all_meta['vintage_id']==92014915]['food']

763034    [Shellfish, Vegetarian, Goat cheese]
Name: food, dtype: object

In [ ]:
train_all_meta['vintage_id'].unique()

array([164942680, 142514980,  48346487, ...,  29209091,   2873968,
         5033394])

In [ ]:
len(list(train_all_meta['wine_id'].unique()))

50852

In [ ]:
df

Empty DataFrame
Columns: [wine_id, vintage_id, taste]
Index: []

In [ ]:
wine_meta

                                    name  ...  winery_wines_count
0                1882 Cabernet Sauvignon  ...                62.0
1                 Les Bessards Hermitage  ...                57.0
2                 Patriarch Estate Grown  ...                21.0
3                                 Merlot  ...                19.0
4             Cabernet Sauvignon F Block  ...                18.0
...                                  ...  ...                 ...
50855           Garganega - Pinot Grigio  ...               517.0
50856             Dadà Langhe Chardonnay  ...                13.0
50857     Metodo Zero Prosecco Extra Dry  ...                49.0
50858          Les Monts Damnés Sancerre  ...                10.0
50859  Gran Paso a Paso Doble Monastrell  ...                61.0

[50860 rows x 29 columns]

In [ ]:
food=wine_meta.iloc[:, [1, 11]]

In [ ]:
food

       wine_id                                               food
0      1938520  'Beef'| 'Lamb'| 'Game '| 'Mature and hard chee...
1        14604                 'Beef'| 'Lamb'| 'Game '| 'Poultry'
2      1930757                  'Beef'| 'Lamb'| 'Veal'| 'Poultry'
3      1564280                             'Beef'| 'Lamb'| 'Veal'
4      2576427  'Beef'| 'Lamb'| 'Game '| 'Mature and hard chee...
...        ...                                                ...
50855  1669561  'Pasta'| 'Shellfish'| 'Mature and hard cheese'...
50856  1861275  'Pasta'| 'Shellfish'| 'Mature and hard cheese'...
50857  2201892  'Shellfish'| 'Vegetarian'| 'Appetizers and sna...
50858  2396179  'Pork'| 'Shellfish'| 'Spicy food'| 'Vegetarian...
50859  7715684                   'Beef'| 'Pasta'| 'Lamb'| 'Game '

[50860 rows x 2 columns]

In [ ]:
# wine_id와 food로 묶기
'''
df=pd.DataFrame(columns=['wine_id', 'food'])
for i in list(wine_meta['wine_id'].unique()):
    df=df.append(wine_meta[RAW_v2['wine_id']==i].iloc[:, [1, 20]])
'''

IndexError: ignored

In [ ]:
food

       wine_id                                               food
0      1938520  'Beef'| 'Lamb'| 'Game '| 'Mature and hard chee...
1        14604                 'Beef'| 'Lamb'| 'Game '| 'Poultry'
2      1930757                  'Beef'| 'Lamb'| 'Veal'| 'Poultry'
3      1564280                             'Beef'| 'Lamb'| 'Veal'
4      2576427  'Beef'| 'Lamb'| 'Game '| 'Mature and hard chee...
...        ...                                                ...
50855  1669561  'Pasta'| 'Shellfish'| 'Mature and hard cheese'...
50856  1861275  'Pasta'| 'Shellfish'| 'Mature and hard cheese'...
50857  2201892  'Shellfish'| 'Vegetarian'| 'Appetizers and sna...
50858  2396179  'Pork'| 'Shellfish'| 'Spicy food'| 'Vegetarian...
50859  7715684                   'Beef'| 'Pasta'| 'Lamb'| 'Game '

[50860 rows x 2 columns]

In [ ]:
# 특수문자 제거
food['food']=food['food'].map(lambda x: str(x).lstrip('[').rstrip(']'))
food['food'].replace(r'\([^)]*\)', '', regex=True, inplace=True)
food['food'].replace(r',', '|', regex=True, inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4581: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [ ]:
map(str.strip, my_list)

       wine_id                                               food
0      1938520  'Beef'| 'Lamb'| 'Game '| 'Mature and hard chee...
1        14604                 'Beef'| 'Lamb'| 'Game '| 'Poultry'
2      1930757                  'Beef'| 'Lamb'| 'Veal'| 'Poultry'
3      1564280                             'Beef'| 'Lamb'| 'Veal'
4      2576427  'Beef'| 'Lamb'| 'Game '| 'Mature and hard chee...
...        ...                                                ...
50855  1669561  'Pasta'| 'Shellfish'| 'Mature and hard cheese'...
50856  1861275  'Pasta'| 'Shellfish'| 'Mature and hard cheese'...
50857  2201892  'Shellfish'| 'Vegetarian'| 'Appetizers and sna...
50858  2396179  'Pork'| 'Shellfish'| 'Spicy food'| 'Vegetarian...
50859  7715684                   'Beef'| 'Pasta'| 'Lamb'| 'Game '

[50860 rows x 2 columns]

In [ ]:
# 원핫 인코딩
one_hot=pd.Series(food['food']).str.get_dummies()

In [ ]:
one_hot

        'Aperitif'   'Appetizers and snacks'  ...  'Vegetarian'  None
0                0                         0  ...             0     0
1                0                         0  ...             0     0
2                0                         0  ...             0     0
3                0                         0  ...             0     0
4                0                         0  ...             0     0
...            ...                       ...  ...           ...   ...
50855            0                         0  ...             0     0
50856            0                         0  ...             0     0
50857            1                         1  ...             0     0
50858            0                         0  ...             0     0
50859            0                         0  ...             0     0

[50860 rows x 37 columns]

In [ ]:
food['food']=food['food'].map(lambda x: str(x).lstrip('[').rstrip(']'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
one_hot.columns

Index([' 'Aperitif'', ' 'Appetizers and snacks'', ' 'Blue cheese'',
       ' 'Cured Meat'', ' 'Fruity desserts'', ' 'Game '', ' 'Goat cheese'',
       ' 'Lamb'', ' 'Lean fish'', ' 'Mature and hard cheese'',
       ' 'Mild and soft cheese'', ' 'Mushrooms'', ' 'Pasta'', ' 'Pork'',
       ' 'Poultry'', ' 'Rich fish '', ' 'Shellfish'', ' 'Spicy food'',
       ' 'Sweet desserts'', ' 'Veal'', ' 'Vegetarian'', ''Beef'',
       ''Blue cheese'', ''Fruity desserts'', ''Game '', ''Lamb'',
       ''Mature and hard cheese'', ''Pasta'', ''Pork'', ''Poultry'',
       ''Rich fish '', ''Shellfish'', ''Spicy food'', ''Sweet desserts'',
       ''Veal'', ''Vegetarian'', 'None'],
      dtype='object')

In [ ]:
df_1=pd.merge(food, one_hot, left_index=True, right_index=True, how='left')

In [ ]:
df_1

       wine_id  ... None
0      1938520  ...    0
1        14604  ...    0
2      1930757  ...    0
3      1564280  ...    0
4      2576427  ...    0
...        ...  ...  ...
50855  1669561  ...    0
50856  1861275  ...    0
50857  2201892  ...    0
50858  2396179  ...    0
50859  7715684  ...    0

[50860 rows x 39 columns]

In [ ]:
import re
document = re.sub(r'[^ ㄱ-ㅣ가-힣A-Za-z]', '', str(list(df_1.columns))) #특수기호 제거, 정규 표현식

In [ ]:
col_list=[]
for i in df_1.columns:
    col_list.append(i.lstrip().rstrip().strip("'"))

In [ ]:
col_list

['wine_id',
 'food',
 'Aperitif',
 'Appetizers and snacks',
 'Blue cheese',
 'Cured Meat',
 'Fruity desserts',
 'Game ',
 'Goat cheese',
 'Lamb',
 'Lean fish',
 'Mature and hard cheese',
 'Mild and soft cheese',
 'Mushrooms',
 'Pasta',
 'Pork',
 'Poultry',
 'Rich fish ',
 'Shellfish',
 'Spicy food',
 'Sweet desserts',
 'Veal',
 'Vegetarian',
 'Beef',
 'Blue cheese',
 'Fruity desserts',
 'Game ',
 'Lamb',
 'Mature and hard cheese',
 'Pasta',
 'Pork',
 'Poultry',
 'Rich fish ',
 'Shellfish',
 'Spicy food',
 'Sweet desserts',
 'Veal',
 'Vegetarian',
 'None']

In [ ]:
df_1.columns=col_list

In [ ]:
df_1

       wine_id  ... None
0      1938520  ...    0
1        14604  ...    0
2      1930757  ...    0
3      1564280  ...    0
4      2576427  ...    0
...        ...  ...  ...
50855  1669561  ...    0
50856  1861275  ...    0
50857  2201892  ...    0
50858  2396179  ...    0
50859  7715684  ...    0

[50860 rows x 39 columns]

In [ ]:
df_1=df_1.sort_values('wine_id')

In [ ]:
df_1.reset_index(drop=True, inplace=True)

In [ ]:
df_1

       wine_id  ... None
0           10  ...    1
1           19  ...    0
2           20  ...    0
3           41  ...    0
4           46  ...    0
...        ...  ...  ...
50855  8407279  ...    0
50856  8436727  ...    0
50857  8546714  ...    0
50858  8564957  ...    0
50859  8710264  ...    0

[50860 rows x 39 columns]

In [ ]:
df_1.to_csv('food_token_one_hot.csv')
files.download('food_token_one_hot.csv')

In [ ]:
food_token_one_hot = '/content/drive/MyDrive/tobigs14_conference/data/v_2/food_token_one_hot.csv'
food_token_one_hot_wine = pd.read_csv(food_token_one_hot)

In [ ]:
train_all_meta['']==food_token_one_hot_wine['wine_id'].unique()

50852

## 의미없는 코드

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df1=df_1.reset_index()

In [ ]:
df_1

        wine_id                                               food  ...    11    12
0       1141133  'Pork', 'Rich fish ', 'Shellfish', 'Mild and s...  ...  None  None
30      2532733  'Beef', 'Lamb', 'Game ', 'Spicy food', 'Mature...  ...  None  None
36      1253802  'Beef', 'Lamb', 'Spicy food', 'Mature and hard...  ...  None  None
38      1123441  'Pork', 'Rich fish ', 'Spicy food', 'Sweet des...  ...  None  None
39      1157656  'Shellfish', 'Vegetarian', 'Appetizers and sna...  ...  None  None
...         ...                                                ...  ...   ...   ...
741449  1197648                                               None  ...  None  None
747906  3140995                             'Beef', 'Lamb', 'Veal'  ...  None  None
751590  4239184                 'Beef', 'Veal', 'Game ', 'Poultry'  ...  None  None
754355  1169358             'Beef', 'Lamb', 'Game ', 'Blue cheese'  ...  None  None
759642  1441950  'Pasta', 'Shellfish', 'Appetizers and snacks',...  ...  None  None

[50852 rows x 15 columns]

In [ ]:
X.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
token_food=pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names() )

In [ ]:
token_food.drop('and', axis=1)

KeyError: ignored

In [ ]:
food_token=pd.concat([df1, token_food], axis=1)

In [ ]:
files.download('food_token.json')
files.download('food_token_1.csv')

In [ ]:
food_token = '/content/drive/MyDrive/tobigs14_conference/data/v_2/food_token.csv'
food_token_wine = pd.read_csv(food_token)
food_token_wine=food_token_wine.drop(['Unnamed: 0', 'index','vintage_id','and'], axis=1)

In [ ]:
# food에 종류별로 라벨링한것 하나로 합치기
food_cols = list(food_token_wine.columns)[2:]
food_encoded = {x: i for i, x in enumerate(food_cols)}

In [ ]:
def get_taste(food, tastes):
  def get_all_taste(gs):
    active = [str(food_encoded[taste]) for taste, g in zip(tastes, gs) if g==1]
    if len(active) == 0:
      return '0'
    return ','.join((active))
  food_token_wine['all_food'] = [
      get_all_taste(gs) for gs in zip(*[food_token_wine[taste] for taste in tastes])]
get_taste(food_token_wine, food_cols)
# 출처: https://github.com/revathijay/Python-Notebooks/blob/master/Recommendation/MovieLens_Youtube_Recommendation_Candidate_Generation_Network.ipynb

In [ ]:
food_token_wine

       wine_id  ...                          all_food
0      1141133  ...        4,8,9,19,23,25,26,27,29,32
1      2532733  ...     2,4,6,10,12,14,15,17,24,30,35
2      1253802  ...                2,4,10,14,15,17,30
3      1123441  ...  7,8,9,10,23,24,25,26,30,31,32,34
4      1157656  ...                 0,1,5,18,27,28,34
...        ...  ...                               ...
50847  1197648  ...                                21
50848  3140995  ...                           2,15,33
50849  4239184  ...                   2,6,12,24,33,35
50850  1169358  ...                  2,3,4,6,12,15,35
50851  1441950  ...              1,5,9,16,18,22,27,28

[50852 rows x 39 columns]

# user_profile 만들기 (user_id, user_follower count, user_following_count, user_rating_count, user_rating_sum)

In [ ]:
user_ids = train_all_meta['userID'].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
userencoded2user = {i: x for i, x in enumerate(user_ids)}

wine_ids = train_all_meta["wine_id"].unique().tolist()
wine2wine_encoded = {x: i for i, x in enumerate(wine_ids)}
wine_encoded2wine = {i: x for i, x in enumerate(wine_ids)}

In [ ]:
train_all_meta_copy = train_all_meta.copy()

In [ ]:
train_all_meta_copy['userID'] = train_all_meta["userID"].map(user2user_encoded)
#train_all_meta_copy["wine_id"] = train_all_meta["wine_id"].map(wine2wine_encoded)

In [ ]:
train_all_meta_copy

         index  ... reviews_count
0            0  ...           323
1            1  ...           297
2            4  ...           170
3            5  ...           392
4            6  ...           394
...        ...  ...           ...
763382  984107  ...           196
763383  984110  ...           196
763384  984111  ...           196
763385  984112  ...           196
763386  984114  ...           196

[763387 rows x 43 columns]

In [ ]:
user=(pd.DataFrame(zip(train_all_meta_copy['userID'],
                        train_all_meta_copy['wine_id'],
                        train_all_meta_copy['user_follower_count'],
                        train_all_meta_copy['user_following_count'],
                        train_all_meta_copy['user_rating_count'],
                        train_all_meta_copy['user_rating_sum'],
                        ), columns = ['userID', 'wine_id', 'follower', 'following', 'rating_count', 'rating_sum']))

In [ ]:
user

        userID  wine_id  follower  following  rating_count  rating_sum
0            0  1141133        34         65           383      1453.0
1            1  1141133       425        915           382      1516.5
2            2  1141133        46         75           412      1589.0
3            3  1141133        13         10           412      1465.0
4            4  1141133         5          0           410      1639.5
...        ...      ...       ...        ...           ...         ...
763382    5226    87064        52         81           259       973.0
763383    5226    63654        52         81           259       973.0
763384    5226     5602        52         81           259       973.0
763385    5226  1396664        52         81           259       973.0
763386    5226  1142712        52         81           259       973.0

[763387 rows x 6 columns]

In [ ]:
recent_item = user.groupby('userID').agg({
    'wine_id' : [('wine_id', 'unique')]
}).reset_index()

In [ ]:
recent_item[['userID', 'wine_id']]

     userID                                            wine_id
                                                       wine_id
0         0  [1141133, 2532733, 1253802, 1123441, 1157656, ...
1         1  [1141133, 23051, 18929, 1178210, 1211816, 7643...
2         2  [1141133, 15238, 1244, 1445351, 1136022, 1879,...
3         3  [1141133, 1084276, 74298, 21585, 1136856, 7005...
4         4  [1141133, 79160, 1128385, 16578, 74298, 78014,...
...     ...                                                ...
6338   6338  [1135982, 77021, 3704, 1139434, 1852273, 17083...
6339   6339  [1135810, 1400619, 779647, 4895567, 2021362, 6...
6340   6340  [21646, 2580327, 77149, 83358, 7629904, 197097...
6341   6341  [2448, 5070, 1128385, 79836, 2424, 1145495, 30...
6342   6342  [1278783, 19242, 1958101, 1320744, 1471, 12350...

[6343 rows x 2 columns]

In [ ]:
user_data=pd.merge(user, recent_item, how = 'left', on='userID')

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3887: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [ ]:
user_data.rename(columns = {('wine_id', 'wine_id') : 'wine_tot'}, inplace = True)

In [ ]:
user_data

        userID  ...                                           wine_tot
0            0  ...  [1141133, 2532733, 1253802, 1123441, 1157656, ...
1            1  ...  [1141133, 23051, 18929, 1178210, 1211816, 7643...
2            2  ...  [1141133, 15238, 1244, 1445351, 1136022, 1879,...
3            3  ...  [1141133, 1084276, 74298, 21585, 1136856, 7005...
4            4  ...  [1141133, 79160, 1128385, 16578, 74298, 78014,...
...        ...  ...                                                ...
763382    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763383    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763384    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763385    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763386    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...

[763387 rows x 7 columns]

# predict label 뽑기 각 user들은 비슷한 와인을 뽑는다는 가정하에 wine_tot에서 random한 와인을 추출

In [ ]:
import random
random.choice(user_data['wine_tot'][1])

1232748

In [ ]:
user_data['wine_tot'][0]

array([1141133, 2532733, 1253802, 1123441, 1157656, 1134756, 1755347,
       1368193, 2310232, 1122469, 1218926, 1997514, 1206525, 1221466,
         22849, 1715702,   76137,   76129, 2167223,   14259,   73620,
       3623354, 1221576,   74557, 1175557, 1564472, 1223089,   14640,
         26594, 1514819, 1154809, 1293225, 1387694,   90192, 1410477,
         87426, 1229949,   43604, 1745846, 2590878, 1127808, 3102815,
        734294, 1130517, 1379095,  779277,   16786, 1135215, 1174845,
         17615, 1132727,   19304, 1148479, 1268465, 1823924, 1420447,
       2395909, 1156758, 1143834,    7775,   23836,   23843, 3816645,
       1391837, 1101039, 1208738,   79266,    9220,   86290, 1245076,
         16115, 1117679, 2363901,   13546, 1184388, 1269735, 2816870,
       1276374,   23995, 1188753, 1129282,   23337, 1386686,   11001,
         77130, 1173806, 1161172, 1827355, 1751560, 1725422,    4068,
          4106, 4161223, 1789271, 4488679,   31574, 4009475,    8602,
         77869,    8601, 1180929, 2287017,   79269, 1386871, 1152843,
       1252056, 1125543, 4118706, 4537681,   27694, 1129960, 2619234,
       3607229, 1377811,   93401, 2955488, 1216610,    7773,   76817,
       1209296, 1287627,   42584, 1517965, 1900097, 1198689, 1123168,
       1927042,   31024, 1117216, 3173216,   22655,    1992, 2002401,
       1117114,   18979, 2677769, 1105583,   79160, 1141069, 1382942,
         18978, 3761834, 1311121, 1143637, 1497442,    1247,   15615,
       4377344, 2552825,   80971, 1219403, 4770861, 1306903,    2569,
       1128385, 1098891, 1505995, 1323147,   64434, 3889282,     616,
       1126215, 1656306, 1164702, 1692390,   83818,   74304, 1136950,
          6326, 1146633, 1555220, 1537328, 2365240,   36814, 2154646,
       1576721, 1127526,   91020,   20225, 2139090, 1441276, 1474005,
         87222,   24056, 1170133])

In [ ]:
user_data['wine_tot'][0]random.choice(user_data['wine_tot'][0])

2590878

In [ ]:
random.choice(user_data['wine_tot'][0])

31574

In [ ]:
user_data

        userID  ...                                           wine_tot
0            0  ...  [1141133, 2532733, 1253802, 1123441, 1157656, ...
1            1  ...  [1141133, 23051, 18929, 1178210, 1211816, 7643...
2            2  ...  [1141133, 15238, 1244, 1445351, 1136022, 1879,...
3            3  ...  [1141133, 1084276, 74298, 21585, 1136856, 7005...
4            4  ...  [1141133, 79160, 1128385, 16578, 74298, 78014,...
...        ...  ...                                                ...
763382    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763383    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763384    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763385    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763386    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...

[763387 rows x 7 columns]

In [ ]:
import random
list_predict_label=[]
for idx, val in  enumerate(user_data['wine_tot']):
    #user_data['predict_label'][idx] = random.choice(val)
    list_predict_label.append(random.choice(val))
    user_data['wine_tot'][idx]=np.delete(user_data['wine_tot'][idx], np.where(user_data['wine_tot'][idx]==list_predict_label[idx]))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
list_predict_label

[90192, 1191976, 4378, 69664, 7316, 1106030, 88443, 1126813, 1123564, 6090996]

In [ ]:
user_data.to_csv('user_data.csv')

In [ ]:
files.download('user_data.csv')

# wine_id 기준으로 wine_profile, food_token, user_profile 통합

In [ ]:
pd.merge(wine_profile, user_data,  how = 'left', on='wine_id')

In [ ]:
user_data

        userID  ...                                           wine_tot
0            0  ...  [1141133, 2532733, 1253802, 1123441, 1157656, ...
1            1  ...  [1141133, 23051, 18929, 1178210, 1211816, 7643...
2            2  ...  [1141133, 15238, 1244, 1445351, 1136022, 1879,...
3            3  ...  [1141133, 1084276, 74298, 21585, 1136856, 7005...
4            4  ...  [1141133, 79160, 1128385, 16578, 74298, 78014,...
...        ...  ...                                                ...
763382    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763383    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763384    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763385    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763386    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...

[763387 rows x 7 columns]

In [ ]:
Wine_Meta_final_201208 = '/content/drive/MyDrive/tobigs14_conference/data/v_2/Wine_Meta_final_201208.csv'
Wine_Meta_final = pd.read_csv(Wine_Meta_final_201208)

In [ ]:
Wine_Meta_final

       wine_id                               name  ...  yerba mate  yogurt
0      1938520            1882 Cabernet Sauvignon  ...         0.0     0.0
1        14604             Les Bessards Hermitage  ...         0.0     0.0
2      1930757             Patriarch Estate Grown  ...         0.0     0.0
3      1564280                             Merlot  ...         0.0     0.0
4      2576427         Cabernet Sauvignon F Block  ...         0.0     0.0
...        ...                                ...  ...         ...     ...
50855  1669561           Garganega - Pinot Grigio  ...         0.0     0.0
50856  1861275             Dadà Langhe Chardonnay  ...         0.0     1.0
50857  2201892     Metodo Zero Prosecco Extra Dry  ...         0.0     0.0
50858  2396179          Les Monts Damnés Sancerre  ...         0.0     0.0
50859  7715684  Gran Paso a Paso Doble Monastrell  ...         0.0     0.0

[50860 rows x 559 columns]

In [ ]:
Wine_Meta_v1_201129 = '/content/drive/MyDrive/tobigs14_conference/data/v_2/Wine_Meta_v1_201129.json'
Wine_Meta_v1 = pd.read_json(Wine_Meta_v1_201129)

In [ ]:
Wine_Meta_v1

                                    name  ...  winery_wines_count
0                1882 Cabernet Sauvignon  ...                62.0
1                 Les Bessards Hermitage  ...                57.0
2                 Patriarch Estate Grown  ...                21.0
3                                 Merlot  ...                19.0
4             Cabernet Sauvignon F Block  ...                18.0
...                                  ...  ...                 ...
50855           Garganega - Pinot Grigio  ...               517.0
50856             Dadà Langhe Chardonnay  ...                13.0
50857     Metodo Zero Prosecco Extra Dry  ...                49.0
50858          Les Monts Damnés Sancerre  ...                10.0
50859  Gran Paso a Paso Doble Monastrell  ...                61.0

[50860 rows x 29 columns]

In [ ]:
len(Wine_Meta_v1['wine_id'].unique())

50860

In [ ]:
# wine_world_rank
list_rank=[]
for i in range(len(Wine_Meta_v1['rank'])):
    try:
        list_rank.append(Wine_Meta_v1['rank'][i]['global']['rank'])
    except:
        list_rank.append(float('nan'))

In [ ]:
len(list_rank)

50860

In [ ]:
rank_wine=pd.DataFrame(list_rank, columns=['world_rank'])

In [ ]:
rank_wine[rank_wine['world_rank']==811]

       world_rank
40567       811.0

In [ ]:
Wine_Meta_final_2=pd.concat([Wine_Meta_final, rank_wine], axis=1)

In [ ]:
wine_col=list(Wine_Meta_final_2.columns)

In [ ]:
wine_col.insert(2, wine_col[-1])

In [ ]:
del wine_col[-1]

In [ ]:
Wine_Meta_final_2=Wine_Meta_final_2[wine_col]

In [ ]:
for i in np.where(Wine_Meta_final_2['world_rank'].isna()):
    print(i)

[  811  1508  1562  1737  1751  2161  2285  3522  4525  5012  5854  5855
  5964  6908  8259  8354  8893  9019  9531  9683  9691 10050 11721 11740
 12507 13918 14010 14030 14326 14838 15168 15248 15724 16272 16505 17309
 17423 17424 17434 17626 18258 18452 18535 19397 19417 19824 20065 20184
 20389 20909 21695 21697 21704 23142 24364 24618 24716 25372 25537 27265
 27280 27739 27808 27938 28716 28752 29008 29817 30019 30078 30775 31099
 31118 31521 33110 33287 33394 33559 34585 34955 35076 36166 36193 36337
 36358 36366 36589 36966 36991 37314 37566 37663 38024 38378 38633 38702
 38796 38804 39347 39635 39655 40102 40230 40344 40549 40975 41525 41885
 42123 42352 42428 42592 42713 42791 43524 43529 43555 43940 44548 44801
 44982 45086 45311 45431 45545 45801 45810 45819 45976 46462 46724 46825
 47019 47103 47166 47179 47288 47376 49591]

In [ ]:
Wine_Meta_final_2

       wine_id                               name  ...  yerba mate  yogurt
0      1938520            1882 Cabernet Sauvignon  ...         0.0     0.0
1        14604             Les Bessards Hermitage  ...         0.0     0.0
2      1930757             Patriarch Estate Grown  ...         0.0     0.0
3      1564280                             Merlot  ...         0.0     0.0
4      2576427         Cabernet Sauvignon F Block  ...         0.0     0.0
...        ...                                ...  ...         ...     ...
50855  1669561           Garganega - Pinot Grigio  ...         0.0     0.0
50856  1861275             Dadà Langhe Chardonnay  ...         0.0     1.0
50857  2201892     Metodo Zero Prosecco Extra Dry  ...         0.0     0.0
50858  2396179          Les Monts Damnés Sancerre  ...         0.0     0.0
50859  7715684  Gran Paso a Paso Doble Monastrell  ...         0.0     0.0

[50860 rows x 560 columns]

In [ ]:
Wine_Meta_final_2.to_json('Wine_Meta_final_201210.json')
!ls

drive  sample_data  Wine_Meta_final_201210.csv	Wine_Meta_final_201210.json

In [ ]:
Wine_Meta_final_2.to_csv('Wine_Meta_final_201210.csv')
!ls

drive  sample_data  Wine_Meta_final_201210.csv

In [ ]:
Wine_Meta_final_2.to_csv('Wine_Meta_final_201210.csv')
!ls
from google.colab import files
files.download('Wine_Meta_final_201210.json')

In [ ]:
list_rank

[15634, 3404, 259, 3793, 29107, 167, 16290, 12005, 42634, 65888]